<header class="dash-header-container">
    <div class="dash-header-text">
        <h1>Identity Map Dashboard</h1>
        <p>User: John Doe</p>
    </div>
    <div class="dash-header-alert">
        <svg viewBox="0 0 512 512" focusable="false" width="16px" height="16px" fill="#dd2c00" style="margin-right: 16px;">
            <path
                d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zm-248 50c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z">
            </path>
        </svg>
        <div style="margin-right: 64px;">New Violation. Device "iPhone" is Out of Compliance.</div>
        <a style="color: #0074d9;font-weight: bold;text-decoration: none; background-color: transparent; margin-right: 16px;">
            Learn More
        </a>
        <button style="border: none; background-color: transparent;">
            <svg xmlns="http://www.w3.org/2000/svg" focusable="false"
                viewBox="0.00749969482421875 95.99749755859375 319.9949951171875 320.0050048828125" width="12px"
                height="12px" fill="" class="">
                <path
                    d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z">
                </path>
            </svg>
        </button>
    </div>

</header>
<main class="dashboard-container">
    <div class="map-and-violations">
        <div id="map"></div>
        <table class="dashboard-violation-grid ">
            <caption style="text-align: left;">
                <h2 style="margin-top: 0; margin-bottom: 16px;">Device Violation's</h2>
            </caption>
            <tr>
                <th><strong>Device</strong></th>
                <th><strong>Violation Type</strong></th>
                <th><strong>Occurance Time</strong></th>
                <th><strong>Action</strong></th>
            </tr>
            <tr *ngFor="let violation of violationList">
                <th>{{violation.device}}</th>
                <th>{{violation.violationType}}</th>
                <th>{{violation.timeOfOccurance}}</th>
                <th style="align-items: center;">
                    <div class="action-cell">
                        <button class="violation-btn">Dismiss</button>
                        <button class="violation-btn">Lock Down</button>
                    </div>
                </th>
            </tr>
        </table>
    </div>
    <div>

    </div>
</main>